{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h1 class="text-center">Главная страница</h1>
        <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
        <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
        <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
        <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
         <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
 <h1 class="text-center">Здесь будет шапка и контент сайта</h1>
 <h1 class="text-center">Здесь будет шапка и контент сайта</h1>

{% endblock %}