<div id="social" class="container-fluid text-center bg-3">
<div class="row">
  <div class="wrapper"><h4>Подписывайся на нас</h4><h3 class="brand" style="color: #000">SW</h3><br>
   <ul class="social-icons">
    <li><a class="fa fa-facebook" aria-hidden="true" target="_blank" href="https://www.facebook.com/" style="font-size:25px;"></a></li>
    <li><a class="fa fa-twitter" aria-hidden="true" target="_blank" href="https://twitter.com/" style="font-size:25px;"></a></li>
    <li><a class="fa fa-instagram" aria-hidden="true" target="_blank" href="https://www.instagram.com/" style="font-size:25px;"></a></li>
   </ul>
  </div>
 </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
