{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center category-name" >Товары в корзине</h3>
                    {% if products_in_basket %}
                        <ul style="list-style:none;">
                    {% for product_in_basket in products_in_basket %}
                        <li class="product-in-basket-item" data-product_id="{{ product_in_basket.id }}">
                            <div class="product-in-basket-img">
                                <a href="{% url 'product' product_in_basket.product.id %}">
                                <img class="img-fluid" src="{{ product_in_basket.product.main_image1.url }}">
                                </a>
                            </div>
                            <div class="product-in-basket-name">
                                <h4>{{ product_in_basket.product.name }}</h4>
                            </div>
                            <div class="product-in-basket-price">
                                <h5>Итоговая цена:</h5>
                                <b>{{ product_in_basket.total_price }}</b>.руб
                            </div>
                            <div class="product-in-basket-apps">
                                <h4>Дополнения:</h4>
                                <h4 style="white-space: pre-line;">
                                {{ product_in_basket.apps }}
                                </h4>
                            </div>
                            <div class="product-in-basket-decorations">
                                <h5>Оформления:</h5>
                                {{ product_in_basket.decorations }}
                            </div>
                            <div>
                                <a href = "#" class="delete_item" action="{% url 'basket_adding' %}" data-product_id="{{ product_in_basket.id }}">{% csrf_token %}
                                    <img style="width: 30px;"src="https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png"/>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                    {% else %}
                        <h1 class="text-center category-name not-products-in-basket" style="margin-bottom:300px;">У вас пока нет тортов в корзине</h1>
                    {% endif %}
                    <h1 class="text-center category-name not-products-in-basket"></h1>
                </div>
            </div>
        </div>
{% endblock %}